<footer>
  <ul class="footer-item">
    <li class="title"><a>Lineas de servicio al cliente</a></li>
    <li><a>Línea Amable PBS: (601) 3078069 / 01-8000-116662</a></li>
    <li><a>Línea Amable PAC: (601) 3078085 / 01-8000-127363</a></li>
    <li><a>servicioalcliente@ email.com.co</a></li>
  </ul>
  <ul class="footer-item">
    <li class="title"><a>Normatividad</a></li>
    <li><a>Normas, leyes y decretos de salud </a></li>
    <li><a>Informe Min trabajo COPASST </a></li>
    <li><a>Vigilancia en salud pública </a></li>
    <li><a>Mapa del Sitio</a></li>
  </ul>
  <ul class="footer-item">
    <li class="title"><a>Legales</a></li>
    <li><a>Términos y condiciones</a></li>
    <li><a>Aviso legal </a></li>
    <li><a>Protección de datos personales y Habeas data </a></li>
  </ul>
</footer>
